@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #18181b;
  --color-primary-container: #f4f4f5;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #09090b;
  
  --color-secondary: #925f3c;
  --color-secondary-container: #f9f5f1;
  --color-on-secondary: #ffffff;
  --color-on-secondary-container: #43250f;
  
  --color-surface: #faf9f6;
  --color-surface-container-low: #f4f3f0;
  --color-surface-container: #eae9e5;
  --color-surface-container-high: #deddd9;
  --color-surface-container-highest: #d0ceca;
  
  --color-on-surface: #09090b;
  --color-on-surface-variant: #52525b;
  
  --color-error: #9f1239;
  --color-error-container: #ffe4e6;
  --color-on-error-container: #4c0519;

  --font-serif: "Space Grotesk", sans-serif;
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

.organic-shape {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
